input {
    background-color: #FFFFFF;
    border: 3px solid #F9A825;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    font-size: 24px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input:focus {
    border: 3px solid #000000;
    outline: 0px;
}